/Org.main/nbproject/private/
/Org.main/build/
/prueba_Jframe_Jlabel/nbproject/private/
/prueba_Jframe_Jlabel/build/
/Pila_Modelo/nbproject/private/
/Cola_modelo/nbproject/private/
/parcial_resolucion2/nbproject/private/
/parcial_resolucion2/build/
/prueba1.1/nbproject/private/
/prueba1.1/build/
/Hanoi/nbproject/private/
/Hanoi/build/
/Quicksort/nbproject/private/
/Quicksort/build/
/Hanoi1.1/nbproject/private/
/Hanoi1.1/build/